<div>
  <div>device</div>
  <el-collapse accordion>
    <el-collapse-item title="$device.info">
      <div>
        <el-button class="btn" type="danger" size="medium" v-on:click="device_info">点击运行</el-button>
      </div>
      <div>"返回示例: {{info}}"</div>
    </el-collapse-item>

    <el-collapse-item title="$device.ssid">
      <div>
        <el-button class="btn" type="danger" size="medium" v-on:click="device_ssid">点击运行</el-button>
      </div>
      <div>"返回示例: {{ssid}}"</div>
    </el-collapse-item>

    <el-collapse-item title="$device.space">
      <div>
        <el-button class="btn" type="danger" size="medium" v-on:click="device_space">点击运行</el-button>
      </div>
      <div>"返回示例: {{space}}"</div>
    </el-collapse-item>

    <el-collapse-item title="$device.taptic">
      <div>
        <div class="block">
          <span class="demonstration">默认</span>
          <el-slider v-model="taptic_value" max=2 step=1 show-input=true></el-slider>
        </div>
        <div>
          <el-button class="btn" type="danger" size="medium" v-on:click="device_taptic">点击运行</el-button>
        </div>
        <div>"无返回示例"</div>
    </el-collapse-item>

  </el-collapse>
  </div>
